.Explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  background-color: var(--backgroundColor);
}

.card_explore {
  width: 100%;
  height: 95vh;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background-color: #fff;
}

.card_explore .back {
  padding: 7px 7px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 100;
}
.card_explore .back .iconBack {
  font-size: 30px;
  font-weight: 300;
  width: 30px;
}

.Explore .top {
  position: fixed;
  width: 100%;
  margin: 10px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.Explore .top input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  color: #242424cc;
  background-color: #f2f2f2;
  border-radius: 12px;
  outline: none;
  z-index: 1000;
}

.Explore .exp {
  margin-top: 5px;
  height: auto;
  display: grid;
  align-items: stretch;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
}

.Explore .exp img {
  width: 100%;
  flex: 1;
  object-fit: cover;
  aspect-ratio: 1/1;
  background-color: #fff;
  cursor: pointer;
}

.Explore .exp img:hover {
  opacity: 90%;
  transition: 0.2s ease-in-out;
}
